devpack
filelock
graphviz
matplotlib
Neodroid
numba
numpy
Pillow
pip
pynput
scikit-image
scipy
#pybullet
#gym #git clone https://github.com/openai/gym.git #cd gym #pip install -e .
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability
six
tensorboard
torch
torchsnooper
torchvision
tqdm
trolls
