devpack
Neodroid
trolls
numpy
matplotlib
tqdm
torch
torchvision
torchsnooper
six
Pillow
pynput
graphviz
scikit-image
filelock
pip
scipy
numba
tensorboard
#pybullet
#gym #git clone https://github.com/openai/gym.git #cd gym #pip install -e .
wheel>=0.38.0 # not directly required, pinned by Snyk to avoid a vulnerability